*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.page-header__name-logo {
	margin-right: 30px
}
.invitation--index-page {
	background-color: #f2f2f2;
}

.catalog__img--mobail {
	width: 120px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
	font-family: 'Oswald', sans-serif;
	color: #111;
	outline: none;
}

h2 {
	font-size: 36px;
	line-height: 36px;
}

h3 {
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
}

legend {
	font-size: 24px;
	font-weight: 500;
	display: flex;
	align-items: center;
	width: 100%
}


legend::before {
	content: "";

flex-grow: 0;
flex-shrink: 1;

	width: 20px;
	height: 2px;
	background-color: #68b738
}

legend::after {
	content: "";

flex-grow: 1;
flex-shrink: 1;

	width: 50px;
	height: 2px;
	background-color: #68b738
}

legend::before {
	margin-right: 25px;
}
legend::after {
	margin-left: 25px
}

input {outline:none;}

b{
	font-size: 16px;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 18px;
	color: #444444
}

a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	outline: none;
}
label:hover {
opacity: 0.6
}
label:active {
opacity: 0.3
}

input {
	font-family: inherit;
	color: #444444
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-header__logo-image:hover {
	opacity: 0.6
}
.page-header__logo-image:active {
	opacity: 0.3
}

.copyright:hover {
	opacity: 0.6
}
.copyright:active {
	opacity: 0.3
}

.copyright__firm {
	padding-right:  100px
}
.page-footer__item:hover {
	opacity: 0.6
}
.page-footer__name:active {
	opacity: 0.3
}
.page-footer__name:hover {
	opacity: 0.6
}
.page-footer__name:active {
	opacity: 0.3
}


.wrapper {
	width: 280px;
	margin: 0 auto;
}

.button {
	text-transform: uppercase;
    display: inline-block;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #68b738;
	text-align: center;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	width: 280px;
	cursor: pointer;
}
.button:hover {
	background-color: #5eaa2f;
}
.button:active {
	background-color: #5eaa2f;
	color: #8fc46e;

}


.page-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px 10px;
	border-bottom: 1px solid #ededed
	
}

.main-nav {
	width: 100%;
	min-height: 50px;
	margin: 0 auto;
}

.main-nav--closed {
	display: none;
}

.main-nav--active {
	display: block;
}

.page-header__logo-image--tablet {
	display: none;
}

.site-list__item a {
	display: block;
	font-weight: bolder;
	padding: 20px 0px;
	border-bottom: 1px solid #e6e6e6;
	
	text-align: center;
}
.site-list__item a:hover {
opacity: 0.6
}
.site-list__item a:active {
opacity: 0.3
}




.page-header__button {
	width: 26px;
	background-color: #fff;
	height: 26px;
	position: relative;
}

.page-header__button--closed::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 2px;
	top: 3px;
	right: 0;
	background-color: #000;
	box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.page-header__button--active::before,
.page-header__button--active::after {
	content: "";
	position: absolute;
	width: 26px;
	height: 2px;
	top: 40%;
	right: 0;
	background-color: #000;
}

.page-header__button--active::before {
	transform: rotate(45deg);
}
.page-header__button--active::after {
	transform: rotate(-45deg);
}

.intro {
	background-image: url('../img/index-background-mobile.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.intro__wrapper {
	background-image: url('../img/index-can-mobile.png');
	background-repeat: no-repeat;
	background-position: 50% 80%;
}


.intro__slogan {
	color: #fff;
	width: 280px;
	padding-top: 25px;
	text-align: center;
}

.intro__subtitle {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding-top: 15px;
	text-align: center;
}

.intro__button {
	margin-top: 100%;
}

.features__link {
	text-transform: uppercase;
}

.expenses {
	text-transform: uppercase;
}

.features {
	margin-bottom: 15px
}

.features__item {
	background-color: #f2f2f2;
	padding: 35px 20px 20px;
	margin: 20px 0px
	
}
.features__item--losing-weight {
	background-image: url('../img/Vector Smart Object.png');
	background-repeat: no-repeat;
	background-position: 20px 20px
}

.features__item--weight-set {
	background-image: url('../img/Vector Smart Object copy 2.png');
	background-repeat: no-repeat;
	background-position: 15px 20px
}

.features__item--weight-set h3 {
	padding-left: 40px
}

.features__title {
	text-align: center;
	padding-bottom: 35px
}

.features__text {
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9
}

.features__link {
	padding-top: 18px;
	font-weight: bold;
	position: relative;
	padding-right: 50px;
	background-image: url('../img/right-arrow-long.svg.png');
	background-repeat: no-repeat;
	background-position: 100px 25px
}

.how-work__list {
	margin: 30px 0px
}

.how-work__item {
	display: flex;
	margin-bottom: 20px
}

.how-work__item:last-child {
	margin-bottom: 0px
}

.how-work__img {
	margin-right: 20px
}

.live {
	padding: 30px 0px 35px;
	background-color: #f2f2f2
}

.live__intro {
	padding: 25px 0px
}

.live__list {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.live__item h3 {
	border: 1px solid #cdcdcd;
	padding: 13px 0px;
	width: 125px;
	border-radius: 3px;
}

.live__text {
	font-size: 12px;
	line-height: 12px;
	margin-top: -30px;
	padding: 5px 20px;
	background-color: #f2f2f2;
	display: inline-block;
}

.expenses__item {
	text-transform: uppercase;
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 15px
}

.expenses__item br {
	display: none;
}

.live__img {
	padding: 45px 0px 25px
}

.live__img--tablet {
	display: none;
}

.expenses__before-after {
	display: flex;
	justify-content: center;
	align-items: center;
}

.expenses__toggle {
	padding: 0px 17px
}

.expenses__toggle--tablet {
	display: none;
}

.before-after__item {
	font-weight: bold;
}

.invitation__map {	
	margin: 0 auto
}

.invitation__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-list__item {
	width: 135px;
	margin: 25px 0px
}

.invitation__map--mobile {
	display: block;
}

.invitation__map {
	width: 100%
}

.invitation__map--tablet {
	display: none;
}

.invitation__map--desktop {
	display: none;
}
.page-footer {
	background-color: #f2f2f2
}
.page-footer .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-footer__name {
	margin: 30px 0px
}

.page-footer__list {
	display: flex;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	width: 280px;
	justify-content: center;
}

.page-footer__icon {
	padding: 25px 25px
}

.page-footer__icon--vk {
	width: 25px;
	height: 25px;
	background-image: url('../img/m-vk.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

.page-footer__icon--insta {
	background-image: url('../img/m-insta.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
	width: 25px;
	height: 25px;
}

.page-footer__icon--facebook {
	background-image: url('../img/m-fb.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
	width: 25px;
	height: 25px;
}

.copyright {
	display: flex;
	justify-content: space-between;
	
	margin: 20px 0px;
}

.copyright__logo {
	margin-left: auto;
}

@media (min-width: 768px) {
	.main-nav--closed {
	display: block;
}
.page-header__button--closed {
	display: block;
}
	.copyright__firm {
	padding-right:  0px
}
	h2 {
	font-size: 60px;
	line-height: 60px;
}

h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

legend {
	font-size: 24px;
	font-weight: 500
}

b{
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	font-family: Arial, sans-serif;
	line-height: 24px;
	color: #444444
}

a {
	text-decoration: none;
	display: inline-block;
	color: #000
}

input {
	font-family: inherit;
	color: #444444
}
input:active {
	border-color: red
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.button {
	font-size: 20px;
	width: 240px

}

	.wrapper {
	width: 720px;
	margin: 0 auto;
}
.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
}
.page-header__button {
	display: none;
}
.site-list__item {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
}




.site-list__item--active  {
	border-bottom: 2px solid #68b738
}

.page-header__logo-image--tablet {
	display: inline-block;
}

.page-header__logo-image--mobile {
	display: none;
}

.page-header__name-logo {
	display: none;
}

.site-list__item a {
	padding: 0px;
	border-top: none;
	margin-left: 35px;
	padding-top: 20px;
	padding-bottom: 20px		
}

.main-nav {
	width: 440px;
	min-height: 0px;
	
}
.page-header__logo-image {
	margin-right: 15px
}

.intro {
	background-image: none;	
}

.intro__wrapper {
	background-image: url('../img/index-can-tablet.jpg.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 865px;
}
.intro__button {
	margin-top: 45px;
}

.intro__slogan {
	color: #111;
	width: 425px;
	padding-top: 65px;
	padding-bottom: 35px;
	text-align: left;
}

.intro__subtitle {
	color: #111;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding-top: 15px;
	text-align: left;
	font-size: 20px
}

.intro__header--wrapper {
	margin-left: 85px
}

.features__title {
	text-align: left;
	padding-bottom: 35px;
	width: 340px
}

.features__item--weight-set h3 {
	padding-left: 0px
}

.features__item {
	margin: 30px 0px
}

.features__text {
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
	width: 340px
}

.features__link {
	padding-top: 18px;
	font-weight: bold;
	position: relative;
	text-align: left;
	
}

.features__item--losing-weight {
	background-image: url('../img/cat-slim.svg 200%.png');
	background-repeat: no-repeat;
	background-position: 445px 50%
}

.features__item--weight-set {
	background-image: url('../img/cat-pro.svg 200%.png');
	background-repeat: no-repeat;
	background-position: 410px 50%
}

.features__item {
	padding: 78px 50px 60px;
}

.how-work__list {
	margin: 0px 0px;
	display: flex;
	flex-wrap: wrap;
}

.how-work h2 {
	margin-bottom: 60px
}

.how-work__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 85px;
	width: 205px;
	min-height: 230px;
	background-image: url('../img/1.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
	margin-right: 180px
}

.how-work__item:nth-child(2n) {
	margin-right: 90px
}

.how-work__item:last-child {
	margin-bottom: 0px
}

.how-work__img {
	margin-bottom: 35px
}

.live {
	padding: 50px 0px 70px;
	background-color: #fff;
	border-top: 1px solid #e6e6e6
}

.live__intro {
	padding: 55px 0px
}

.live__list {
	justify-content: flex-start;
	text-align: center;
}

.live__item {
	padding-right: 42px
}

.live__item h3 {
	width: 160px;	
}

.live__text {
	font-size: 12px;
	line-height: 12px;
	margin-top: -30px;
	padding: 5px 20px;
	background-color: #fff;
	display: inline-block;
}

.live__wrapper {
	display: flex;
	justify-content: space-between;
}

.expenses__item {
	text-transform: uppercase;
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	text-align: right;
}

.expenses__item br {
	display: block;
}

.live__img {
	padding: 45px 0px 25px
}

.live__img--mobail {
	display: none;
}

.live__img--tablet {
	display: inline-block;
	position: absolute;
}

.expenses__before-after {
	background-color: #f2f2f2;
	padding: 365px 0px 68px;
	margin-top: 250px
}

.expenses__toggle {
	padding: 0px 17px
}

.expenses__toggle--mobail {
	display: none;
}

.expenses__toggle--tablet {
	display: inline-block;
}

.before-after__item {
	font-weight: bold;
	
}

.expenses__before-after--before {
	border-bottom: 1px dotted #bebebe
}

.expenses__before-after--after {
	border-bottom: 1px dotted #bebebe
}

.invitation__list {
	display: flex;
	justify-content: space-between;
}

.contact-list__item {
	width: 160px;
	margin: 60px 40px 60px
}

.invitation__map--mobile {
	display: none;
}

.invitation__map--tablet {
	display: block;
}

.page-footer .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.page-footer__list {
	display: flex;
	text-align: center;
	border:none;
	justify-content: flex-end;
}

.page-footer__icon--vk {
	width: 25px;
	height: 25px;
	background-image: url('../img/m-vk.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

.page-footer__icon--insta {
	background-image: url('../img/m-insta.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
	width: 25px;
	height: 25px;
}

.page-footer__icon--facebook {
	background-image: url('../img/m-fb.svg.png');
	background-repeat: no-repeat;
	background-position: 50%;
	width: 25px;
	height: 25px;
}

.copyright {
	display: flex;
	justify-content: flex-end;
	
}

.copyright__logo {
	margin-left: 20px
}


}

@media (min-width: 1440px) {

.wrapper {
	width: 1220px;
	margin: 0 auto;
	position: relative;
}
.page-header {
	position: absolute;
	right: 0;
	left: 0;
	padding-top: 54px;
	z-index: 1
	
}

.page-index .site-list__item a {
	color: #fff		
}

.page-index .site-list__item--active {
	border-bottom: 2px solid #fff
}

.intro {
	background-image: url('../img/index-background-desktop.jpg');
	background-repeat: no-repeat;
	background-position: 100% 0;

}

.intro__wrapper {
	background-image: url('../img/index-can.png');
	background-repeat: no-repeat;
	background-position: 60% 70%;
	height: 700px;
	margin-bottom: 60px
}

.intro__slogan {
	color: #111;
	width: 425px;
	padding-top: 220px;
	padding-bottom: 35px;
	text-align: left;
}

.features {
	margin-bottom: 60px
}

.features__list {
	display: flex;
	justify-content: space-between;
}

.features__title {
	text-align: center;
	padding-bottom: 75px;
	width: 460px
}

.features__text {
	padding-bottom: 20px;
	border-bottom: none;
	width: 460px
}

.features__link {
	padding-top: 18px;
	font-weight: bold;
	position: relative;
	text-align: left;
	font-size: 20px;
	background-image: url('../img/right-arrow-long.svg.png');
	background-repeat: no-repeat;
	background-position: 120px 28px
}


.features__item--losing-weight {
	background-image: url('../img/cat-slim.svg.png');
	background-repeat: no-repeat;
	background-position: 50px 40px
}

.features__item--weight-set {
	background-image: url('../img/cat-pro.svg.png');
	background-repeat: no-repeat;
	background-position: 50px 40px
}

.features__item--weight-set h3 {
	padding-left: 60px
}

.features__item {
	padding: 78px 50px 60px;
}

.how-work h2 {
	margin-bottom: 75px
}

.how-work__list {
	margin: 70px 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.how-work__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
	width: 205px;
	min-height: 230px;
	background-image: url('../img/1.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
	margin-right: 80px
}

.how-work__item:nth-child(2) {
	background-image: url('../img/2.png');
}

.how-work__item:nth-child(3) {
	background-image: url('../img/3.png');
}

.how-work__item:nth-child(4) {
	background-image: url('../img/4.png');
}

.how-work__item:nth-child(4n) {
	margin-right: 0px
}

.how-work__item:last-child {
	margin-bottom: 0px
}

.how-work__img {
	margin-bottom: 35px
}

.live {
	padding: 0px 0px 70px;
	background-color: #f2f2f2;
	border-top: none;
	margin-top: 130px;
	position: relative;
}

.live--wrapper {
	display: flex;
}

.live h2 {
	margin-top: -120px;
	position: absolute;
}

.live__intro {
	padding: 70px 0px;
	width: 440px
}

.live__list {
	justify-content: flex-start;
	text-align: center;
}

.live__item {
	padding-right: 45px
}

.live__item h3 {
	width: 160px;	
}

.live__text {
	font-size: 12px;
	line-height: 12px;
	margin-top: -30px;
	padding: 5px 20px;
	background-color: #f2f2f2;
	display: inline-block;
}

.live__wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	
}

.expenses__item {
	text-transform: uppercase;
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 55px;
	text-align: right;
}

.expenses__item br {
	display: none;
}

.live__img {
	padding: 45px 0px 25px
}

.live__img--mobail {
	display: none;
}

.live__img--tablet {
	display: inline-block;
	position: absolute;
	top: -200px;
	right: -100px
}



.expenses__before-after {
	background-color: #f2f2f2;
	padding: 0px 110px 0px;
	margin-top: 0px;
	justify-content: flex-end;

}

.expenses__toggle {
	padding: 0px 17px
}

.before-after__item {
	font-weight: bold;
}

.invitation__map--tablet {
	display: none;
}

.invitation__map--desktop {
	display: block;
	margin: 0 auto
}
.invitation__list {
	display: flex;
	justify-content: space-between;
	position: absolute;
	background-color: #fff;
	top: 90px
}

.contact-list__item {
	width: 160px;
	margin: 65px 55px 60px
}





}

/*-------------------------ФФФОООРМММААААА--------------------------------------*/

.form-main__subtitle {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.invitation--form-page,
.invitation--catalog-page {
	background-color: #f2f2f2
}

.form-main__body {
	margin-top: 28px
}

.form-main__title {
	margin-bottom: 30px
}

.form-main__subtitle {
	margin-bottom: 35px
}

.indicators-list__item {
	display: flex;
	align-items: center;
	margin-bottom: 22px
}

.indicators-list input {
	margin-left: 12px;
	flex-grow: 1
}

input[type="text"],
input[type="number"],
input[type="phone"],
input[type="email"] {
	border: 1px solid #e6e6e6;
	padding: 10px 12px;
	font-size: inherit;
	font-weight: bold;
}

input:focus {
	border:  2px solid #000;
}

.reason-list {
	padding:  25px 0px 5px;
	border-top:  1px solid #e6e6e6;
	border-bottom:  1px solid #e6e6e6;
}

.reason-list__item {
	position: relative;
	padding-left: 40px;margin-bottom: 20px
}

.reason-list__item input {
	opacity: 0
}

.reason-list__button {
	width: 30px;
	height: 30px;
	background-image: url('../img/radiobutton.png');
	position: absolute;
	left: 0
}

.reason-list__item input:checked + .reason-list__button {
	background-image: url('../img/radiobutton--active.png');
}

.data-list__title {
	padding: 28px 0px 25px
}

.data-list__item {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.data-list__email {
	flex-grow: 1
}

.data-list__phone{
	flex-grow: 1
}

.data-list__label {
	margin-right: 15px
}

.comment-list__title {
	padding: 15px 0px 28px
}

textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	border:  1px solid #e6e6e6;
	padding: 12px 15px;
	width: 100%
}

.product-list__title {
	padding-top: 25px
}

.product-list {
	margin: 35px 0px 15px
}

.product-list__item {
	padding-bottom: 20px;
	padding-left: 40px;
	position: relative;
	z-index: 2
}

.product-list__item input {
	display: none;
}

.product-list__button {
	width: 30px;
	height: 30px;
	background-image: url('../img/checkbox.png');
	position: absolute;
	left: 0;
	z-index: 1
}

.product-list__item input:checked + .product-list__button {
	background-image: url('../img/tick.svg.png');
}

.form__help {
	margin: 20px 0px;
	text-align: center;
}

.invitation--form-page {
	background-color: #f2f2f2
}

.page-footer--form {
	background-color: #f2f2f2
}



@media (min-width: 768px) {
label {
	font-size: inherit;
	font-weight: bold;
}
	legend {
	font-size: 36px;
	font-weight: bold;
	

}

.form-main__subtitle {
	margin-bottom: 35px;
	font-size: 20px;
	font-weight: bold;
}

.form-main	.wrapper {
	width: 630px;
	margin: 0 auto;
}
.reason-list {
	margin: 40px 35px 40px 42px;
	display: flex;
	flex-direction: column;
	border: 1px solid #e6e6e6;
	padding: 25px 25px 5px
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}
.product-list__item {
	flex-basis: 50%;
	padding-bottom: 30px;
}

.button-list {
	display: flex;
	align-items: center;
	margin-bottom: 70px

}
.form__button {
	margin-right: 25px
}

.form-main__body {
	padding-top: 55px
}


}

@media (min-width: 1440px) {

.site-list__item a {
	color: #111		
}

.form-main	.wrapper {
	width: 1220px;
	margin: 0 auto;
}
.page-form .page-header {
	position: static;
	right: 0;
	left: 0;
	padding-top: 54px;	
}

.indicators-list {
	padding-left: 0px
}

.form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
fieldset {
	flex-basis: 50%
}

.form__data {
	flex-basis: 100%
}

.form__comment {
	flex-basis: 100%
}

.form__product{
	flex-basis: 100%
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-list__item {
	flex-basis: 245px;
	padding-bottom: 30px;
}

.reason-list {
	margin: 40px 35px 55px 42px;
	display: flex;
	flex-direction: column;
	border: 1px solid #e6e6e6;
	padding: 25px 25px 5px
}

}
/*-------------------------ККККААААААТТТТАААЛЛЛЛЛООООООООГГГГГГГГ--------------------------------------*/
td {
	font-family: Arial;
	font-size: 12px
}
.catalog-main h1 {
	padding: 20px 0px 0px
}

.catalog__list {
	display: flex;
	flex-direction: column;
}

.catalog__item {
	display: flex;
	flex-wrap: wrap;
	padding:  20px 0px;
	border-bottom: 1px solid #ededed
}



.catalog__wrapper {
	flex-basis: 50%;
	padding: 20px 0px
}

.catalog__subtitle {
	width: 100px;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px
}

.catalog__table {
	padding-top: 10px;
	width: 100%
}

.catalog__item--more {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.catalog__item--more .catalog__subtitle {
	width: 100%;
	text-align: center;
}
.catalog__item.catalog__item--more {
	padding-top: 75px;
	background-image: url('../img/plus-mobile.svg.png');
	background-repeat: no-repeat;
	background-position: 50% 15%
}
.catalog__losung {
	padding: 10px 0px 20px
}

.table-list__row {
	margin-left: auto;
}
.additional h3 {
	text-transform: none;
	padding: 25px 0px
}

.additional h3 {
	display: flex;
	align-items: center;

}
.additional h3::after {
	content: "";

flex-grow: 1;
flex-shrink: 0;

	width: 20px;
	height: 2px;
	background-color: #68b738
}
.additional h3::after {
	margin-left: 10px
}
.additional__table li {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 15px
}

.additional__item {
	padding: 10px 0px 15px;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed
}

.additional__title {
	font-weight: bold;
}

.present {
	background-image: url('../img/gift-photo-mobile.jpg');
	background-size: cover;
	background-position: 0 60%;
	min-height: 289px;
	margin: 40px auto;;
	

}

.present img {
	display: block;
	margin: 0 auto;
	padding: 65px 0px
}

.present p {
	text-align: center;
	color: #fff;
	padding: 0px 35px;
	font-size: 16px
}

.catalog__button--more {
	background-color: #f2f2f2;
	text-align: center;
	color: #444444;
}

.catalog__button--more:hover {
	background-color: #ebebeb;
	text-align: center;
	color: #444444;
}

.catalog__button--more:active {
	background-color: #ebebeb;
	text-align: center;
	color: #b9b9b9;
}

.invitation--catalog-page {
	background-color: #f2f2f2
}

.gift {
	background-image: url('../img/gift-photo-mobile.jpg');
	background-repeat: no-repeat;
}

.additional__title {
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}
.catalog__img--tablet {
	display: none;
}

@media (min-width: 768px) {
	.catalog {

	}
	.catalog__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.catalog__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	padding:  100px 0px 40px;
	width: 300px;
	border-bottom: none;
	background-color: #f2f2f2;
	position: relative;
	margin: 150px 0px 0px
}

.catalog__item:nth-child(2n) {
	margin-left: 35px
}
.catalog__img--mobail {
	display: none;
}
.catalog__img--tablet {
	display: block;
	position: absolute;
	top: -100px
}
.catalog__subtitle {
	width: 100px;
	margin: 0 auto;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.catalog__table {
	width: 240px
}
.table-list__row {
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
	border-bottom: 1px solid #cdcdcd
}
.catalog__button--more {
	background-color: #f2f2f2;
	
	text-align: center;
	color: #444444;
}
.catalog__item--more {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border: 1px solid #f2f2f2;

}
.catalog__item--more .catalog__subtitle {
	width: 100%;
	text-align: center;
}
.catalog__item.catalog__item--more {
	padding-top: 160px;
	background-image: url('../img/plus.svg.png');
	background-repeat: no-repeat;
	background-position: 50% 15%;

}

.catalog__losung {
	text-align: center;
}
	.present {
		display: flex;
		align-items: center;
		
		min-height: 200px
	}
	.present p {
	width: 200px;
	text-align: left;
	
}

.present img {
	display: block;
	margin: 0px 275px 0px 85px;
	padding: 0px 0px
}
.additional__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 20px 20px
	
	
}
.additional__table p {
	padding-left: 20px;
	padding: 20px 0px
}
.additional__button {
	width: 100%
}

}
@media (min-width: 1440px) {
	.page-catalog .page-header {
	position: static;
	right: 0;
	left: 0;
	padding-top: 54px;	
}
	.catalog-main {
		display: flex;
		flex-wrap: wrap;
	}
	.catalog {
		flex-basis: 100%
	}
	.catalog__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	padding:  100px 0px 40px;
	width: 245px;
	border-bottom: none;
	background-color: #f2f2f2;
	position: relative;
	margin: 150px 0px 0px
}

.catalog__button {
	width: 170px
}

.catalog__item {
	margin-right:  35px
}
.catalog__item:nth-child(4n) {
	margin-right: 0px
}
.catalog__item:nth-child(2n) {
	margin-left: 0px
}
.catalog__img--mobail {
	display: none;
}
.catalog__img--tablet {
	display: block;
	position: absolute;
	top: -100px
}
.catalog__subtitle {
	width: 100px;
	margin: 0 auto;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.catalog__table {
	width: 165px
}
.table-list__row {
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
	border-bottom: 1px solid #cdcdcd
}
.additional__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 20px 0px;
}

.additional {
	margin-bottom: 30px 
}

.additional p {
	padding-left: 30px
}
.additional h3 {
	display: flex;
	align-items: center;

}.additional h3::before {
	content: "";

flex-grow: 0;
flex-shrink: 0;

	width: 20px;
	height: 2px;
	background-color: #68b738
}

.additional h3::after {
	content: "";

flex-grow: 1;
flex-shrink: 0;

	width: 50px;
	height: 2px;
	background-color: #68b738
}

.additional h3::before {
	margin-right: 25px;
}
.additional h3::after {
	margin-left: 25px
}


.additional__button {
	width: 245px;
}
.present {
	width: 245px;
	margin: 0;
	flex-basis: 20%;
	display: none;
}
.catalog__losung {
	width: 200px
}
}